#main{
    display: flex;
    width: 100%;
    height: calc(100vh - 60px)
}

#contacts{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgb(156, 156, 156);
}

#searchAdd{
    width: 95%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchAdd input{
    padding: 3px;
    width: 170px;
}
#searchAdd input:focus{
    outline: none;
}
#searchAdd svg{
    font-size: 23px;
}
#searchAdd svg:hover{
    cursor: pointer;
}

#chat{
    width: calc(100% - 300px);
    height: 100%;
    position: relative;
}
#messages{
    width: 100%;
    height: calc(100% - 40px)
}

#sendMessage{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: calc(100% - 40px)
}
#sendMessage *:nth-child(1){
    margin-left: 40px;
    width: 60%;
    padding: 5px;
}
#sendMessage *:nth-child(2){
    margin-right: 40px;
    width: 150px;
    height: 30px;
}
#sendMessage *:nth-child(1):focus{
    outline: none;
}