#content{
    display: flex;
}

#main{
    display: flex;
    width: 100%;
    height: 100vh
}

#left{
    width: 300px;
    z-index: 10;
}

#contacts{
    width: 300px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgb(156, 156, 156);
    overflow-y: auto;
}
#contacts::-webkit-scrollbar{
    width: 10px;
}

#searchAdd{
    width: 95%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchAdd input{
    padding: 3px;
    width: 170px;
}
#searchAdd input:focus{
    outline: none;
}
#searchAdd svg{
    font-size: 23px;
}
#searchAdd svg:hover{
    cursor: pointer;
}

#chat{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(239, 239, 239);
}
#messages{
    width: 100%;
    height: calc(100% - 120px);
    overflow-y: auto;
}

#messages::-webkit-scrollbar{
    width: 10px;
}

#sendMessage{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: calc(100% - 50px);
    margin-bottom: 10px;
}
#sendMessage *:nth-child(1){
    margin-left: 40px;
    width: 60%;
    padding: 5px;
}
#sendMessage *:nth-child(2){
    margin-right: 40px;
    width: 150px;
    height: 30px;
}
#sendMessage *:nth-child(1):focus{
    outline: none;
}
#sendMessage *:nth-child(2):hover{
    cursor: pointer;
}

#contactHeader{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 223, 223);
}

#contactImage{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 202, 202);
    margin-left: 20px;
}

#div{
    position: relative;
}

#contactImage img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
#contactLocal{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#contactLocal p:first-child{
    font-size: 18px;
    cursor: default;
}
#contactLocal p:nth-child(2){
    font-size: 14px;
    width: 100%;
    text-align: end;
}