#localheader{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 229, 229);
    border-right: 1px solid rgb(156, 156, 156);
}

#header{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 202, 202);
}
#logo img{
    width: 100%;
    height: 100%;
}

#profile{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 202, 202);
}

#profile img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#profile:hover{
    cursor: pointer;
}